* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.header {
  background-color: #A7C7E7;
  color: #3A3A3A;
  padding: 20px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.nav {
  background-color: #8FBCE7;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav a {
  color: #3A3A3A;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 15px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #729FCF;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 2;
  background-color: #D8E6F3;
  padding: 20px;
}

.main-content > div {
  margin-bottom: 20px;
}

.main-content h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #3A3A3A;
}

.main-content p,
.main-content ul {
  font-size: 1rem;
  color: #3A3A3A;
  line-height: 1.6;
}

.button {
  background-color: #A7D3F2;
  color: #3A3A3A;
  display: inline-block;
  font-family: "Times New Roman";
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #91C3E6;
  transform: scale(1.1);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 10px #A7D3F2;
}

.sidebar {
  flex: 1;
  background-color: #C3DBF4;
  padding: 20px;
  border-left: 2px solid #8FBCE7;
  text-align: center;
}

.sidebar h2 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #3A3A3A;
}

.sidebar p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #3A3A3A;
}

.sidebar img {
  display: block;
  margin: 10px auto;
  border: 2px solid #8FBCE7;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.sidebar img:hover {
  transform: scale(1.1);
  border-color: #729FCF;
}

.footer {
  background-color: #B2D6F5;
  color: #3A3A3A;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    border-left: none;
    border-top: 2px solid #8FBCE7;
  }
}
