* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 248, 255);
}

h1 {
  color: rgb(54, 69, 79);
  text-align: center;
}

h2 {
  font-family: "Times New Roman";
  font-size: 18px;
  color: rgb(70, 130, 180);
  margin-bottom: 10px;
}

p, li {
  font-family: "Times New Roman";
  font-size: 15px;
  color: rgb(47, 79, 79);
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  flex: 3;
  padding: 20px;
  background-color: rgb(240, 248, 255);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content > div {
  margin-bottom: 20px;
}

.sidebar {
  flex: 1;
  background-color: rgb(240, 248, 255);
  padding: 20px;
  border-left: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sidebar img {
  display: block;
  margin: 10px auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
}

.sidebar img:hover {
  transform: scale(1.1);
  border-color: #aaa;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: rgb(70, 130, 180);
}

.button {
  background-color: rgb(70, 130, 180);
  color: white;
  font-family: "Times New Roman";
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgb(54, 69, 79); 
  transform: scale(1.1);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 10px rgb(70, 130, 180);
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    border-left: none;
    border-top: 2px solid #ddd;
  }
}
